.wrapper{
    width: 100%;
    padding: 2vh;
}

.section {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  flex-direction: row;
  overflow: hidden;
  padding: 50px;
  background:purple;
}

.container{
  width: 100%;
  /* margin-top: 20px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
}
.section:nth-child(3) {
  background: linear-gradient(180deg, rgb(128, 0, 128), #f107a3);
}
.section:nth-child(4) {
  background: black;
}
.section .span {
  display: block;
  transform: translateX(-100px);
  opacity: 0;
}

.font{
  font-weight: 700;
  font-family: "Inter-Bold", "Inter", sans-serif;
  color:#66ffb2;
  font-size: 64px;
  letter-spacing: -4px;
  text-align: center ;
  padding-bottom:  20px;
  text-shadow:  8px 4px  #f107a3;
}
.font:nth-child(2){
  align-self: flex-end;
  color: #000;
}
.boxTwoFont{
  font-weight: 700;
  font-family: "Inter-Bold", "Inter", sans-serif;
  color:rgb(0, 255, 255);
  font-size: 64px;
  letter-spacing: -4px;
  text-align: center;
  padding-bottom:  20px;
  text-shadow:  8px 4px  #f107a3;
}
.foot{
  position: relative;
  align-self: end;
  margin-bottom: 2vh;
}
.icon50{
  display: none;
}
.email{
  position: relative;
  text-align: end;
  margin-top: 2vh;
  padding: 1rem;
  font-weight: 700;
  font-family: "Inter-Bold", "Inter", sans-serif;
  color:#66ffb2;
  font-size: 24px;
  text-shadow:  2px 2px  #f107a3;
}
.iconBtn{
  border-width: 0;
  background: transparent;
  margin: 1rem;
}
.icons{
  display: flex;
  align-items: center;
  padding: 1vw;
}

/* work section */

/* .workSec {
  padding: 2vh;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
} */


 
/* Tablet and Smaller Desktop */
/*  */


@media (max-width: 600px) and (min-width: 0px) {
  .font{
  font-size: 48px;
  padding-bottom:  4px;
  text-shadow:  4px 4px  #f107a3;
  }
  .boxTwoFont{
    font-size: 48px;
    padding-bottom:  4px;
    text-shadow:  4px 4px  #f107a3;
  }
  /*-----------footer--------------- */
  .icons{ 
    justify-content: center;
  }
  .icon100{
    display: none;
  }
  .icon50{
    display: flex;
  }
  .iconBtn{
    margin: 10px;
  }
  .email{
    margin-top: 0;
    font-size: 18px;
  }
};

@media (max-width: 1400px) and (min-width: 1200px)  {
  .wrapper {
    margin: 2px;
    padding: 2px;
  }
  .section{
    padding: 20px;
  }
  .container{
    margin: 2px;
  }
  .font{
    font-size: 48px;
    padding-bottom: 0px;
  }
  .boxTwoFont{
    font-size: 48px;
    padding-bottom: 0px;
  }
}


