.wrapper{
    width: 100%;
    margin: 0 auto;
}

.section {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  /* display: flex; */
  justify-content: space-between;
  flex-direction: row;
  overflow: hidden;
  padding: 2vh 2vw 2vh 2vw;
  background:purple;
}

.container{
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
}


.font{
  font-weight: 700;
  font-family: "Inter-Bold", "Inter", sans-serif;
  color:#66ffb2;
  font-size: 64px;
  letter-spacing: -4px;
  text-align: center ;
  padding-bottom:  20px;
  text-shadow:  8px 4px  #f107a3;
}
.font:nth-child(2){
  align-self: flex-end;
  color: #000;
}
.boxTwoFont{
  font-weight: 700;
  font-family: "Inter-Bold", "Inter", sans-serif;
  color:rgb(0, 255, 255);
  font-size: 64px;
  letter-spacing: -4px;
  text-align: center;
  padding-bottom:  20px;
  text-shadow:  8px 4px  #f107a3;
}




@media (max-width: 600px) and (min-width: 0px) {
  .font{
  font-size: 48px;
  padding-bottom:  4px;
  text-shadow:  4px 4px  #f107a3;
  }
  .boxTwoFont{
    font-size: 48px;
    padding-bottom:  4px;
    text-shadow:  4px 4px  #f107a3;
  }
};

@media (max-width: 1400px) and (min-width: 1200px)  {
  .wrapper {
    margin: 2px;
    padding: 2px;
  }
  .section{
    padding: 20px;
  }
  .container{
    margin: 2px;
  }
  .font{
    font-size: 48px;
    padding-bottom: 0px;
  }
  .boxTwoFont{
    font-size: 48px;
    padding-bottom: 0px;
  }
}


