.wrapper{
    width: 100%;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* images in header */
.imgSet{
  /* align-self: flex-end; */
    width: 100%;
    display: flex;
    flex-direction: row;
    z-index: -1;
    justify-content: right;
}
/* aliens/sticks */
.beamShip{
  position: absolute; 
  left: 200px; 
  top: 200px;
}
  .motherShip{
    position: absolute;
    right: 0px;
    top: -160px;
  }
.stickOne{
  position: absolute; 
  left: 200px;
  top: 100px; 
}
.stickTwo{
  position: absolute; 
  left: 200px;
  top: 100px;
  /* bottom: 10px; */
  z-index: 99;
}
.stickLay{
  position: absolute; 
  left: 300px;
  top: 180px;
  /* left: -620px; 
  top: 50px; */
}
.stickReach{
  position: absolute; 
  left: 120px;
  top: 490px;
  /* left: -580px; 
  top: 176px;  */
}
.stickHold{
  position: absolute; 
    left: 160px;
  top: 200px;
  /* left: -555px; 
  top: 100px; */
}


.imgText{
  align-self: flex-start;
  margin-right: 4rem;
  padding-top: 2rem;
}

.imgCenter{
  position: absolute;
  margin-right: 180px;
  width: 40%;
  height: 100%;
  max-width: 400px;
  max-height: 400px;

  
}

.img{
  align-self: flex-end;
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-height: 400px;
  
}



.section {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  flex-direction: row;
  overflow: hidden;
  padding: 50px;
  background: black;
}
.container{
    width: 100%;
    /* margin-top: 20px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
}
.section:nth-child(3) {
  background: purple;
}
.section:nth-child(4) {
  background: linear-gradient(180deg, purple, #f107a3);
}
.section .span {
  display: block;
  transform: translateX(-100px);
  opacity: 0;
}

.font{
  font-weight: 700;
  font-family: "Inter-Bold", "Inter", sans-serif;
  color:#66FFB2;
  font-size: 64px;
  letter-spacing: -4px;
  text-align: center ;
  padding-bottom:  20px
}
.font:nth-child(2){
  align-self: flex-end;
  color: #000;
}
.boxTwoFont{
  font-weight: 700;
  font-family: "Inter-Bold", "Inter", sans-serif;
  color:aqua;
  font-size: 64px;
  letter-spacing: -4px;
  text-align: center;
  padding-bottom:  20px
}
.boxThreeFont{
  font-weight: 700;
  font-family: "Inter-Bold", "Inter", sans-serif;
  color:orchid;
  font-size: 64px;
  letter-spacing: -4px;
  text-align: center;
  padding-bottom:  20px
}


 
/* Tablet and Smaller Desktop */
@media (max-width: 505px) {
  .wrapper {
    margin: 2px;
    padding: 2px;
  }
  .imgSet{
    height: 200px;
  }
  .motherShip{
    right: 0px;
    top: -200px;
  }
  .beamShip{
    left: 60px;
    top: 140px;
  }
  .stickOne{
    left: 80px;
    top: 80px
  }
  .stickHold{
    left: 100px;
    top: 120px
  }
  .stickLay{
     display: none;
  }
  .stickReach{
     display: none;
  }
  
  .imgCenter{
    display: none;
  }
  .imgText{
    display: none;
    /* height: 300px;
    width: 300px;
    margin: 0;
    top: 0; */
  }
  .img{
    display: none;
  }
  .section{
    padding: 40px;
  }
  .container{
    margin-top: 2px;
  }
  .font{
    font-size: 48px;
    padding-bottom: 0px;;
  }
  .boxTwoFont{
    font-size: 48px;
    padding-bottom: 0px;;
  }
  .boxThreeFont{
    font-size: 48px;
    padding-bottom: 0px;;
  }
}


@media (max-width: 1200px) and (min-width: 505px) {
  .imgText{
      display: none;
  }
  .motherShip{
    display: none;
  }
  .imgCenter{
    display: none;
  }.img{
      display: none;
  }
};

@media (max-width: 1400px)  {
  .wrapper {
    margin: 2px;
    padding: 2px;
  }
  .section{
    padding: 20px;
  }
  .container{
    margin: 2px;
  }
  .font{
    font-size: 48px;
    padding-bottom: 0px;;
  }
  .boxTwoFont{
    font-size: 48px;
    padding-bottom: 0px;;
  }
  .boxThreeFont{
    font-size: 48px;
    padding-bottom: 0px;;
  }
  .motherShip{
    display: none;
  }
}


