.container{
    /* height: 6rem; */
    width: 100%;
    margin: auto;
    padding: 4vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: sticky;
    top: 0;
    
}

/* Contact Icon */
.rightItem{
    align-self: end;
    text-align: right;
    display: flex;
    flex-direction: row;
    
}
/* Link Label */
.listItems{
    list-style: none;
    padding: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:  orchid;
    margin-right: 2rem;
}
.spanLabel{
    padding: 10px;
    align-self: center;
    margin-bottom: 2px;
    border-radius: 10rem;
    border-width: 2px 1.5em;
    border-color: orchid
}
.navLink{
    font-weight: 700;
    font-family: "Inter-Bold", "Inter", sans-serif;
}

@media screen and (max-width:505px) {
  .listItems {
    display: none;
  }
  .container{
    height: 6rem;
    padding: 10px;
}
  
}
@media screen and (max-width:750px) {
  .container{
    height: 6rem;
    padding: 10px;
}
  
} 
