.container{ 
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: center;
    padding: 2vh; 
 }
.listStack {
  flex: 50%; 
  flex-direction:row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.box {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4vh;
  padding: 4vw 0vw 4vw 0vw;
  max-width: 100%;
  vertical-align: middle;
  border-radius: 30px;
  background: aqua;
  color:#f107a3;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.font{
  font-weight: 700;
  font-family: "Inter-Bold", "Inter", sans-serif;
  color:#f107a3;
  font-size: 48px;
  letter-spacing: -1px;
  text-align: center ;
}
.btn{
  flex: 1;
  max-width: 100%;
  margin: 2vh 0vh;
  background-color: #f107a3;
  color: #00ffff;
  border: none;
  padding: 1vw 6vw 1vw 6vw;
  border-radius: 50px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.small{
  text-align: center;
  font-size: 20px;
  font-family: "Inter-Bold", "Inter", sans-serif;
}




@media (max-width: 400px) and  (min-width: 0px) {
  .container{
    justify-content: flex-start;
    padding: 0;
  }
  .box{
    padding: 4vh;
  }
  .listStack{
    flex: 100%;
    justify-content: flex-start;
    padding: 10px 0px 10px 0px;
  }
  .font{
    font-size: 22px;
  }
  .btn{
    padding: 4vh;
    font-size: 12px;
    border-radius: 100px;
  }
  .small{
    text-align: center;
    font-size: 12px;
  }
}

@media (max-width: 800px) and  (min-width: 401px) {
  .container{
    justify-content: flex-start;
    padding: 0;

  }
  .listStack{
    flex: 100%;
    justify-content: flex-start;
    padding: 10px 0px 10px 0px;
  }
  .box{
    padding: 4vh;
  }
  .font{
    font-size: 36px;
  }
  .small{
  text-align: center;
  font-size: 18px;
}
}


/* @media (max-width: 505px) {
  .container{
    display: block;

  }
  .listStack{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
  }
  .btn {
    font-size: 22px;
    width: 20rem;
  }
  .box{
     max-width: 24rem;
    margin-bottom: 2vh;
  }
  
  } */
  
/* @media (max-width: 1200px) and (min-width: 702px) {
  .container{
    display: block;

  }
  .listStack{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
  }
  .btn {
    font-size: 22px;
    max-width: 20rem;
  }
  .box{
     max-width: 600px;
    margin-bottom: 2vh;
  }
  } */








