.container{
    width: 100%;
    /* margin: 8vh; */
    padding: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: sticky;
}

/* .imgContain{
    width: 100vh;
    height: 100vh;
    margin-top: 6px;
    align-self: center;
    justify-content: flex-end;
    margin-left: 100px;
    padding: 20px;
} */
.listStack {
  display: flex;
  flex-direction: column;
  margin: 4vh;
  justify-content: space-between;
}
.listItems{
    list-style: none;
    padding: 10px;
     margin: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: "Inter-Bold", "Inter", sans-serif;
    font-size: 16px;
}
.box {
  width: 800px;
  border-radius: 30px;
  background: aqua;
  color:#f107a3;
  padding: 20px;
  margin-top: 6px;
    border: none;
}

.font{
  font-weight: 700;
  font-family: "Inter-Bold", "Inter", sans-serif;
  color:#f107a3;
  font-size: 48px;
  letter-spacing: -4px;
  text-align: center ;
  padding-bottom:  20px
}

.repo{
  align-self: center;
  margin-bottom: 2vh;
  background-color: #f107a3;
  color: aqua;
  border: none;
  padding: 15px 20px;
  border-radius: 50px;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
}

@media (max-width: 900px) {

  .listStack{
    margin: 2vh;
    justify-content: center;
    align-items: center;
  }
  .box{
    /* margin-bottom: 2vh; */
    width: 25rem;
    align-self: center;
  }

};

@media (min-width: 1000px) and (max-width: 1500px) {

  .listStack{
    justify-content: center;
    align-items: center;
  }
  .box{
    /* margin-bottom: 2vh; */
    width: 25rem;
    align-self: center;

  }
};

