.wrapper{
  margin: auto;
  width: 100%;
  justify-content: center;
}
.container{
  padding: 2vh;
  display: flex;
  flex-wrap: wrap;
}

.listStack {
  flex: 50%;
  max-width: 50%;
  flex-wrap: wrap;
  padding: 0 4vh 4vh 0;
}

.box {
  width: 100%;
  vertical-align: middle;
  border-radius: 30px;
  background: aqua;
  color:#f107a3;
  padding: 2rem;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.font{
  font-weight: 700;
  font-family: "Inter-Bold", "Inter", sans-serif;
  color:#f107a3;
  font-size: 48px;
  letter-spacing: -1px;
  text-align: center ;
  padding-bottom:  8px
}

.btn{
  align-self: center;
  margin-bottom: 2vh;
  background-color: #f107a3;
  color: #00ffff;
  border: none;
  padding: 15px 20px;
  border-radius: 50px;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


@media (max-width: 1000px) {
  .listStack{
    margin: 2vh;
    justify-content: center;
    align-items: center;
    flex: 100%;
    max-width: 100%;
  }
  .box{
    padding: 4vh;
    width: 100%;
  }

};





