/* xaxis */
.parallax {
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
}
.scroller {
  font-weight: 600;
  color: #ff4500;
  font-family: "Inter-Bold", "Inter", sans-serif;
   /* letterSpacing: -2, */
  font-size: 42px;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  text-shadow:  4px 4px  #ffff00;
}
.parallax span {
  display: block;
  margin-right: 30px;
}
.section {
  padding-top: 60vh;
  padding-bottom: 60vh;
  position: relative;
}

@media (max-width: 600px) and  (min-width: 0px) {
.scroller{
  font-size: 30px;
  text-shadow:  2px 2px  #ffff00;  
}
}